$font-ibm: 'IBM Plex Sans';
$font-basis: 'Basis Grotesque';
$font-sf-display: 'SF Pro Display';
$font-sf-text: 'SF Pro Text';

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$color-white: #ffffff;
$color-black: #00000A;
$color-blue: #120EF0;
$color-orange: #EE5F40;
$color-darkblue: #030343;
$color-purple: #5C07D1;
$color-lightblue: #64648C;