$font-ibm: 'IBM Plex Sans';
$font-basis: 'Basis Grotesque';
$font-sf-display: 'SF Pro Display';
$font-sf-text: 'SF Pro Text';

$font-regular: normal;
$font-medium: 500;
$font-semibold: 600;
$font-bold: bold;

$color-white: #ffffff;
$color-black: #00000A;
$color-blue: #000FF0;
$color-orange: #EE5F40;
$color-darkblue: #030343;